/* colors used
gray BG == #e3e5e6
visited link == #05676e
selected link == #489c79
button BG == #357b70
grid gray = #D3D3D3


 */

:root {
  --gray-bg: #e3e5e6;
  --regular: #367b70;
  --visited: #05676e;
  --selected: #489c79;
  --button: #357b70;
  --grid-gray: #D3D3D3;
  --shadow: rgba(0, 0, 0, 0.3);
  --padding: padding 10px;
  --white: #FFFFFF;

}


body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--gray-bg);
  font-size: 17px;
  line-height: 2.5;
}

a {
  color: var(--regular);
}

a:visited {
  /* visited link */
  color: var(--visited);
}

a:hover, a:focus {
  /* no underline when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--selected);
}

button {
  /* overwrites browswer defaults and resets border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the bg color, font color, and text decoration of the button */
  background-color: var(--button);
  color: var(--white);
  text-decoration: none;
  /* adds spacing to the button  */
  padding: var(--padding);
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px,
  a type of solid, and a color in RGBA format */
  border-bottom: 2px solid var(--shadow);
}

button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over button */
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 55px;
  line-height: 2;
}

.profile__portrait {
  float: left;
  height: 250px
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
}

.grid__item {
  background-color: var(--grid-gray);
  padding-left: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  /* grid-template-rows: 300px 300px; */
}

* {
 box-sizing: border-box;
}

.contact-page, .about-page, .work-page {
  padding-left: 10px;
  text-align: center;
}

/* button */

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--button);
  color: var(--white);
  text-decoration: none;
  padding: var(--padding);
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid var(--shadow);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* media queries */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
